@model HRApplication.WWW.Models.JobOffer.NewJobOfferViewModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-group.required .col-form-label:after {
        content: " *";
        color: red;
    }
</style>

<h2>Dodaj ogłoszenie</h2>
<hr />
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row text-right required">
                <label class="col-sm-2 col-form-label">Wpisz tytuł</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row text-right required">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-8">
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group row text-right">
                <label class="col-sm-2 col-form-label">Widełki płacowe</label>
                <div class="col-sm-8" style="padding:0">
                    <div class="col-sm-4">
                        <input class="form-control col-sm-10" asp-for="SalaryFrom" type="text" placeholder="Od" />
                        <span asp-validation-for="SalaryFrom" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control col-sm-10" asp-for="SalaryTo" type="text" placeholder="Do" />
                        <span asp-validation-for="SalaryTo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row text-right">
                <label asp-for="ContractTypeId" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <select asp-for="ContractTypeId" class="form-control" asp-items="ViewBag.ContractTypes"></select>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="PartTimeWork" class="col-sm-2 col-form-label text-right"></label>
                <div class="col-sm-4">
                    <input asp-for="PartTimeWork" />
                </div>
            </div>
            <div class="form-group row text-right">
                <label asp-for="HoursPerWeek" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-2">
                    <input id="hours" asp-for="HoursPerWeek" min="0" value="40" class="form-control" type="number" />
                    <span asp-validation-for="HoursPerWeek" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row text-right">
                <label asp-for="Position" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>

            </div>
            <hr />
            <div class="form-group row text-right">
                <label asp-for="EndDate" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input asp-for="EndDate" id="endDate" class="form-control" style="padding:2px" type="date" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 row">
                <div class="col-8"></div>
                <div class="form-group col-2">
                    <a asp-action="Index" asp-controller="JobOffer" class="btn btn-success">Powrót</a>
                    <input type="submit" value="Dodaj" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>